@font-face {
    font-family: 'Atlan Bold It';
    src: url('../fonts/Atlan-BoldIt.woff2') format('woff2'),
        url('../fonts/Atlan-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atlan Extra Light It';
    src: url('../fonts/Atlan-ExtraLightIt.woff2') format('woff2'),
        url('../fonts/Atlan-ExtraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atlan Black It';
    src: url('../fonts/Atlan-BlackIt.woff2') format('woff2'),
        url('../fonts/Atlan-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atlan';
    src: url('../fonts/Atlan-Regular.woff2') format('woff2'),
        url('../fonts/Atlan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atlan Semi Bold It';
    src: url('../fonts/Atlan-SemiBoldIt.woff2') format('woff2'),
        url('../fonts/Atlan-SemiBoldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atlan';
    src: url('../fonts/Atlan-Bold.woff2') format('woff2'),
        url('../fonts/Atlan-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atlan';
    src: url('../fonts/Atlan-Black.woff2') format('woff2'),
        url('../fonts/Atlan-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atlan Light It';
    src: url('../fonts/Atlan-LightIt.woff2') format('woff2'),
        url('../fonts/Atlan-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atlan Semi';
    src: url('../fonts/Atlan-SemiBold.woff2') format('woff2'),
        url('../fonts/Atlan-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atlan';
    src: url('../fonts/Atlan-Heavy.woff2') format('woff2'),
        url('../fonts/Atlan-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atlan Heavy It';
    src: url('../fonts/Atlan-HeavyIt.woff2') format('woff2'),
        url('../fonts/Atlan-HeavyIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atlan';
    src: url('../fonts/Atlan-Light.woff2') format('woff2'),
        url('../fonts/Atlan-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atlan Thin It';
    src: url('../fonts/Atlan-ThinIt.woff2') format('woff2'),
        url('../fonts/Atlan-ThinIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atlan';
    src: url('../fonts/Atlan-Thin.woff2') format('woff2'),
        url('../fonts/Atlan-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atlan Extra';
    src: url('../fonts/Atlan-ExtraLight.woff2') format('woff2'),
        url('../fonts/Atlan-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atlan It';
    src: url('../fonts/Atlan-RegularIt.woff2') format('woff2'),
        url('../fonts/Atlan-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

