.footer {

    background-color: #f4f4f4;
    padding-top: 36px;
    
    &__wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        a {
            margin-right: 20px;
            display: inline-block;
            &:last-child {
                margin-right: 0;
            }
        }
        img {
            display: inline-block;
            
        }
    }

    &__social {
        margin-bottom: 30px;
        img {
            max-width: 33px;
            max-height: 33px;
        }
    }

    &__nav {
        margin-bottom: 30px;

        ul {
            display: flex;
        }
        li {
            margin-right: 23px;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            font-size: 18px;
            text-transform: uppercase;
            color: #424242;
            font-weight: 300;
            span {
                font-weight: 600;
            }
        }
    }

    &__descr {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #5fb6b3;
        text-transform: uppercase;
    }
}

