.input-group {
    padding: 20px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    input {
        width: 100%;
        margin-bottom: 32px;
        @include b(mobile) {
            height: 50px;
        }
        @include b(500) {
            &::placeholder {
                font-size: 16px;
            }
        }
    }

    textarea {
        @include b(500) {
            &::placeholder {
                font-size: 16px;
            }
        }
    }

    &__header {
        padding-bottom: 101px;
        width: 100%;
        padding-left: 280px;
        span {
            display: block;
        }

        @include b(1264) {
            justify-content: flex-start;
            padding-left: 0;
        }

        @include b(mobile) {
            padding-bottom: 67px;
        }

        &--otherPB {
            padding-bottom: 51px;
            padding-top: 225px;
        }
    }

    &__header-wrap {
        width: 100%;
        max-width: 504px;
        margin: 0 auto;
    }

    &__title {
        color: #4dbbb8;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.75;
        text-transform: uppercase;
        margin-bottom: 10px;
        @include b(mobile) {
            font-size: 24px;

        }
    }

    &__descr {
        color: #424242;
        font-size: 35px;
        font-weight: 700;
        line-height: 1.14;
        margin-bottom: 19px;

        @include b(mobile) {
            font-size: 42px;
            letter-spacing: .3px;
            margin-bottom: 30px;
        }
    }

    &__postscr {
        font-weight: 300;
        line-height: 1.55;
        max-width: 405px;

        @include b(mobile) {
            font-size: 22px;
            max-width: 100%;
        }
    }


    // mod for form on page "become_a_partner" class mod - "form--become" ---
    &--PB {
        padding-bottom: 90px;
    }
    &--text {
        flex-direction: column;
        align-items: center;
        input  {
            @include b(mobile) {
                margin-bottom: 13px;
            }
        }

        
        .input-group__hints {
            color: #45aaa7;
            font-size: 20px;
            text-transform: uppercase;
            line-height: 1.3;
            @include b(mobile) {
                font-size: 24px;
                margin-bottom: 15px;
            }
            @include b(500) {
                font-size: 16px;
            }

            &--otherProp {
                font-size: 21px;
                font-weight: 400;
                line-height: 2.2;
            }
        }

        .input-group__wrap {
            max-width: 1118px;
            margin: 0 auto;
        }

        .input-group__inputs {
            justify-content: flex-start;
            @include b(tablet) {
                flex-wrap: wrap;
                margin-bottom: 10px;
            }
            .input-group__hints {
                @include b(mobile) {
                    max-width: 400px;
                }
            }
        }

        .input-group__single-input {
            display: flex;
            justify-content: space-between;
            @include b(tablet) {
                flex-wrap: wrap;
                margin-bottom: 12px;
            }
            input {
                max-width: 670px;
            }
        }


        .input-group__left , .input-group__right {
            max-width: 321px;
            @include b(mobile) {
               width: 100%;
               max-width: 100%; 
            }
            input {
                width: 321px;
                @include b(mobile) {
                    width: 100%;
                    max-width: 100%;
                }
            } 

            // style for defolt selector -----
            .jcf-select {
                max-width: 321px;
                font-weight: 300;
                @include b(mobile) {
                    max-width: 100%;
                    margin-bottom: 13px;
                    height: 50px;
                }
            }
            // style for defolt selector -----
        }

        .input-group__left {
            margin-right: 28px;
            @include b(mobile) {
                margin-right: 0;
            }
        } 

        .input-group__textarea {
            display: flex;
            justify-content: space-between;
            width: 100%;
            @include b(tablet) {
                flex-wrap: wrap;
                margin-bottom: 20px;
            }
            .input-group__hints {
                @include b(mobile) {
                    max-width: 350px;
                }
            }
            textarea {
                width: 670px;
                height: 512px;
                @include b(mobile) {
                    height: 490px;
                    width: 100%;
                    max-width: 100%;
                }
            }
        }

        .input-group__clarification {
            width: 100%;
            max-width: 670px;
            .input-group__hints {
                margin-bottom: 34px;
                display: flex;
                @include b(mobile) {
                    font-size: 21px;
                    line-height: 1.24;
                    max-width: 100%;
                    text-align: justify;
                }
                @include b(500) {
                    font-size: 16px;
                }
            }
        }
        
        .input-group__checkbox {
            display: flex;
            justify-content: flex-end;
            @include b(mobile) {
                margin-bottom: 28px;
            }
            .checkbox {
                @include b(mobile) {
                    align-items: flex-start;
                    font-size: 18px;
                    line-height: 1.33;
                    @include b(500) {
                        font-size: 16px;
                    }
                    &::before {
                        content:'';
                        min-width: 11px;
                        margin: 7px 20px 0px 0px;
                        @include b(500) {
                            margin-right: 10px;
                        }
                    }

                    &:after {
                        content:'';
                        top: 9px;
                    }
                }
            }
        }

        .input-group__btn{
            max-width: 670px;
            margin-left: auto;
            @include b(tablet) {
                margin-left: 0;
            }
            .button {
                max-width: 120px;
                font-size: 16px;
                height: 37px;
                @include b(mobile) {
                    font-size: 19px;
                    font-weight: 300;
                    max-width: 170px;
                    height: auto;
                    padding: 10px 0px 10px 0px;
                }
            }
        }
    }

    // mod for form on page "become_a_partner" class mod - "form--become" ---

    

    .jcf-select {
        max-width: 100%;
        height: 43px;
        outline: none;
        border: 1px solid #424242;
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        padding: 0px 0px 0px 18px;
        @include b(mobile) {
            height: 50px;
        }
    }

    .jcf-select-text {
        font-weight: 300;
        font-size: 18px;
        text-transform: none;
        color: #424242;
        line-height: 1;
        position: relative;
    }

    .jcf-select-opener{
        position: static;
        &:before {
            content:'';
            right: 18px;
            top: 50%;
        }
    }

    .jcf-drop-active {
        .jcf-select-opener {
            &::before {
                transform: rotate(180deg);
                top: 5px;
            }
        }
    }

    &__wrap{
        width: 100%;
        max-width: 776px;
        margin: 0 auto;
    }
    
    &__inputs{
        display: flex;
        justify-content: space-between;
        @include b(mobile) {
           flex-direction: column;
        }
    }
    
    &__left , &__right{
        width: 48%;
        @include b(mobile) {
            width: 100%;
        }
    }
    
    &__textarea{
        margin-bottom: 37px;
    }
    
    &__checkbox {
        color: #45aaa7;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 37px;
    }

    .button {
        max-width: 108px;
        margin-bottom: 37px;

        &--otherProp {
            max-width: 120px;
            font-size: 16px;
            height: 37px;
            margin-bottom: 216px;
        }
    }
}