.header {
  border-top: 42px solid rgba(255, 255, 255, .5);


  @include b(tablet) {
      border-top: 21px solid rgba(255, 255, 255, .5);
  }

  &__wrap {
      display: flex;
      transition: all .2s;
      &.activePadding {
        justify-content: flex-end;
        margin-right: 760px;
        @include b(1362) {
          margin-right: 0;
          justify-content: flex-start;
        }
      }
      @include b(tablet) {
        align-items: center;
        flex-wrap: wrap;
      }

      &--burger {
        position: absolute;
        top: 0;
        left: 0;
        @include b(428) {
          width: 100%;
        }
        
        .header__btn-menu {
          z-index: 300;
        }

        .header__logo {
          margin: -42px 0px 0px 0px;
        }

      }
  }

  &__logo {
    margin-top: -42px;
    background-color: #45aaa7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px;
    height: 163px;
    position: relative;
    // z-index: 3;
    
    @include b(mobile) {
        margin-top: -21px;
        margin-left: -24px;
        width: 158px;
        height: 158px;
    }
  }

  &__btn-menu {
    position: relative;
    // z-index: 30;
    height: 25px;
    width: 40px;
    margin: 40px;
    cursor: pointer;

    @include b(mobile) {
        width: 20px;
        height: 20px;
    }

    &.animationClose {
      span {
        &:nth-child(1) {
          top: 10px;
          transform: rotate(-45deg);
          background-color: #4ec4c0;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          top: 10px;
          transform: rotate(45deg);
          background-color: #4ec4c0;
        }
      }
    }

    span {
      @include trs;
      position: absolute;
      top: 0px;
      left: 0;
      width: 40px;
      height: 3px;
      // z-index: 15;
      background-color: #4ec4c0;
      &:nth-child(2) {
        top: 11px;
      }
      &:nth-child(3) {
        top: 20px;
      }
      @include b(500) {
        // width: 18px;
      }
    }
  }
  &__title{
      padding-top: 36px;
      position: relative;
      // z-index: 3;
      @include b(tablet) {
          padding-top: 0px;
      }
      p,span {
          font-size: 15px;
          line-height: 1.2;
          text-transform: uppercase;
          font-weight: 600;
      }
      p {
        color:#45aaa7;
      }
      span {
        font-weight: 300;
      }
  }
}
