#form__personal_account {
    .input-group__textarea {
        .input-group__textarea-wrap {
            .text-format-wrapper {
                #edit-field-short-description-0-format-help-about {
                    display: none;
                }

                .form-item-field-short-description-0-format {
                    display: none;
                }

                #edit-field-description-0-format-help-about {
                    display: none;
                }

                .form-item-field-description-0-format {
                    display: none;
                }
            }
        }
    }
}