.form-type-managed-file {
    .image-widget-data {
        .file--image {
            display: none;
        }
        .file-size {
            display: none;
        }
    }

    .description {
        display: none;
    }
}