.impressum {
    padding: 222px 0 148px 0;
    border-bottom: 35px solid #fff;
    @include b(mobile) {
        padding: 70px 0;
    }
    span {
        text-transform: uppercase;
        font-size: 18px;
        display: block;
    }

    p {
        line-height: 1.55;
        
    }
    
    .container {
        max-width: 1068px;
        @include b(mobile) {
            padding: 0 28px;
        }
    }

    &__name {
        span {
          font-size: 20px;
          font-weight: 600;
          color: #4dbbb8;
          margin-bottom: 6px;
          @include b(mobile) {
              font-size: 24px;
              line-height: 1;
              margin-bottom: 10px;
          }
        }
        p {
           font-size: 35px;
           font-weight: 600; 
           text-transform: uppercase;
           margin-bottom: 14px;
           @include b(mobile) {
               font-size: 42px;
           }
        }
    }

    &__addres {
        margin-bottom: 29px;
    }

    &__addres-title {
        padding-bottom: 33px;
        @include b(mobile) {
            font-size: 22px;
            padding-bottom: 28px;
        }
        
    }

    &__addres-indent{
        margin-bottom: 35px;
        span {
            font-weight: 600;
            @include b(mobile) {
                font-size: 21px;
                letter-spacing: .3px;
                max-width: 350px;
            }
        }
    }

    &__kontakt {
        margin-bottom: 35px;
        a {
            display: block;
            margin-bottom: 7px;
        }
    }

    &__kontakt-title {
        padding: 0px 0px 35px 0px;
    }

    &__kontakt-link {
        padding: 0px 0px 23px 0px;
    }

    &__text-block {
        margin-bottom: 65px;
        span {
            margin-bottom: 35px;
            font-weight: 500;
        }
        p {
            margin-bottom: 35px;
            font-weight: 300;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__quelle {
        p {
            font-weight: 400;
            color: #000;
        }
    }
}
