.preloader {

    &.loaded_hiding  {
        transition:  1s opacity;
        opacity: 0;
      }
      
    &.loaded  {
    display: none;
    }

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    z-index: 10;
    
    span {
        display: block;
    }

    &__title {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        animation: hello 10s ease;
        opacity: 0;

    }

    &__descr {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 500;
        color: #4dbbb8;
        animation: hello 10s ease;
        opacity: 0;

    }





    @keyframes hello {
        0% {
            opacity: 0;
        }
       
        
        100% {
            opacity: 1;
        }
    }

    // Loop from 1-2.
    @for $i from 1 through 2 {
        span {
        
        // :nth-child(1-9) 
        &:nth-child(#{$i}) {
            
            // Delay the animation. Delay increases as items loop.
            animation-delay: $i * (1s / 1);
            }
        }
  }


  


}