.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  z-index: 10;
  visibility: visible;
  transition: .5s all;
  border-right: 25px solid #45aaa7;

  &.loaded_hiding {
    // opacity: 0;
    // visibility: hidden;
    top: -100%;
  }

  span {
    transition: 5s all;
    
    &.animated{
      opacity: 1;
    }

  }

  &.loaded {
    display: none;
  }
  
  #typed-entry {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    @include b(mobile) {
      font-size: 30px;
    }
  }

.typed-cursor {
    font-size: 60px;
    color: #fff;
    animation: blink 0.7s infinite;
    @include b(mobile) {
      font-size: 30px;
    }
}



@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
}
