.select {
  position: relative;
  z-index: 1;
  &__btn {
    position: relative;
    border: 1px solid #4dbbb8;
    cursor: pointer;
    color: #4dbbb8;
    text-transform: uppercase;
    font-size: 15px;
    width: 100%;
    padding: 14px 0 10px 14px;
    &:after {
        content: ''; 
        position: absolute; 
        top: 17px;
        right: 40px; 
        border: 10px solid transparent; 
        border-top: 10px solid #45aaa7; 
    }

  }
  &__list {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: -1px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  &__list.active {
    display: block;
  }

  &__item {
    padding: 5px 10px;
    border-bottom: 1px solid #000;
    cursor: pointer;
  }

  &__item:hover {
    color: red;
  }

  &__item:last-child {
    border-bottom: none;
  }
}
