.simplenews-subscriptions-block-job-offer {
  display: flex;
  width: 100%;
  position: relative;
  padding: 0 15px 40px 15px;

  @include b(mobile) {
    align-items: flex-start;
    flex-direction: column;
  }

  h2 {
    color: #45aaa7;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.3;
    width: 100%;
    max-width: 404px;
    @include b(mobile) {
      margin-bottom: 20px;
    }
  }

  .form-checkboxes .form-item,
  .form-radios .form-item {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }

  .input-group--text {
    width: 100%;
    max-width: 372px;
    margin-bottom: 40px;
    padding: 0;
    align-items: flex-start;

    .form-type-textfield {
      @include b(mobile) {
        width: 100%;
      }
    }

    @include b(mobile) {
      max-width: 100%;
      align-items: flex-start;
    }

    .input-group__hints {
      text-align: start;
      width: 100%;
      max-width: 372px;
      color: #45aaa7;
      font-size: 20px;
      text-transform: uppercase;
      line-height: 1.3;
      font-weight: 400;
    }

    .input-group__btn {
      width: 100%;
      max-width: 372px;
      margin: 0;

      @include b(mobile) {
        max-width: 100%;
      }

      .button--otherProp {
        margin-top: 40px;
        margin-bottom: 0;
        width: 100%;
        min-width: 188px;

        @include b(mobile) {
          min-width: 100%;
        }
      }
    }
  }

  .form-item-field-my-location {
    width: 100%;
    max-width: 372px;

    @include b(mobile) {
      max-width: 100%;
    }
  }

  .form-wrapper {
    .input-group__hints {
      margin-bottom: 20px;
    }
  }

  #edit-subscriptions--wrapper {
    width: 100%;
    display: flex;
    @include b(mobile) {
      flex-direction: column;
    }
    .input-group__hints {
      width: 100%;
      max-width: 404px;
    }

    .checkbox {
      @include b(mobile) {
        margin-bottom: 20px;
      }
    }
  }

  .input-group__hints {
    text-align: start;
    width: 100%;
    max-width: 372px;
    color: #45aaa7;
    font-size: 20px !important;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 400;
  }

  .jcf-select {
    max-width: 100%;
    height: 43px;
    outline: none;
    border: 1px solid #424242;
    margin-bottom: 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 0 18px;
    color: initial;
    font-weight: 300;
  }

  .jcf-select-opener {
    &:before {
      content: "";
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-7%);
    }
  }

  .jcf-drop-active .jcf-select-opener {
    &:before {
      transform: rotate(180deg);
      top: 5px;
    }
  }

  #edit-field-my-kategorie--wrapper {
    width: 100%;
    max-width: 372px;
    display: flex;
    flex-direction: column;

    @include b(mobile) {
      max-width: 100%;
    }
  }

  .form-type-textfield {
    margin-bottom: 32px;
  }

  .input-group__btn {
    width: 100%;
    max-width: 372px;
    margin: 0;

    @include b(mobile) {
      max-width: 100%;
    }

    .button--otherProp {
      margin-top: 40px;
      margin-bottom: 0;
      width: 100%;
      max-width: 150px;

      @include b(mobile) {
        max-width: 100%;
        font-size: 19px;
        font-weight: 300;
        height: auto;
        padding: 10px 0 10px 0;
      }
    }
  }

  .input-group__checkbox {
    .input-group__clarification {
      &.disabled {
        color: #808080;
        pointer-events: auto;
        z-index: 100;
        .checkbox {
          cursor: not-allowed;
        }
      }
    }
  }
}
