.thankyou__page {
    .decoration {
      background-size: 800px;

      @include b(tablet) {
        background-size: 368px 460px;
        background-position: center 191px;
      }

      @include b(mobile) {
        background-size: 250px 250px;
      }
    }
}

.webform-confirmation {
    max-width: 500px;
    margin: 275px auto;
    
    @include b(600) {
      margin: 150px auto;
    }

  .feedback {
    &_title {
        color: #4dbbb8;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.75;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
    
      &_description {
        color: #424242;
        font-size: 35px;
        font-weight: 700;
        line-height: 1.14;
      }
  }
}
