@import "block/fonts.scss";
@import "helpers/mixins";
@import "helpers/variables";


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0;
  min-width: 320px;
  font-size: $main-fz;
  font-family: $main-font;
  font-weight: $main-fw;
  line-height: $main-lh;
  background-color: $b-color;
  color: $main-color;
  border-right: 25px solid #45aaa7;
  @include b(tablet) {
    border-right: 9px solid #45aaa7;
  }

  &.overflow {
    overflow: hidden;
  }
}

@include b(tablet) {
  .overflow {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    text-decoration: none;
  }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button,
button:active,
button:focus {
  outline: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1681px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  @include b(600) {
    padding: 0 27px;
  }

  @include b(400) {
    padding: 0 15px;
  }

  &--page {
    max-width: 1644px;
  }

  &--comments_slider {
    max-width: 1339px;
  }

  &--991w {
    max-width: 991px;
  }

  &--1068w {
    max-width: 1068px;
    @include b(mobile) {
      padding: 0 28px;
    }
  }

  &--1356w {
    max-width: 1356px;
  }
}

.main {
  border-bottom: 32px solid #fff;

  &--otherPx {
    border-bottom: 45px solid #fff;
  }
}

.wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.decoration {
  border-right: 34px solid #fff;
  border-left: 58px solid #fff;
  background-image: url(../images/index/bg.png);
  background-position: center -120px;
  background-repeat: no-repeat;
  @include b(tablet) {
    border-right: 23px solid #fff;
    border-left: 24px solid #fff;
    background-size: 368px 460px;
    background-position: center 241px;
  }
  @include b(400) {
    background-size: 250px 250px;
    border-right: 10px solid #fff;
    border-left: 10px solid #fff;
  }

  &--left {
    background-position: 52px -120px;
    @include b(1118) {
      background-position: center 241px;
    }
  }

  &--none {
    @include b(mobile) {
      background: none;
    }
  }

  &--noBg {
    background-image: none;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  height: 27px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Atlan", sans-serif, Arial;
  background-color: #4dbbb8;
  color: #ffff;
  font-weight: 400;
  cursor: pointer;
  margin: 0;
  @include trs;


  &--grin {
    background-color: #f4f4f4;
    border: 1px solid #4dbbb8;
    color: #4dbbb8;
    height: auto;
    padding: 9px 0;
    text-transform: none;

    &:hover {
      color: #4dbbb8 !important;
    }
  }

  &:hover {
    color: #ffff;
  }
}

input[type="search"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  display: block;
  width: 100%;
  height: 43px;
  padding: 16px 0 14px 18px;
  border: 1px solid #424242;
  background: none;
  font-family: inherit;
  color: inherit;
  transition: all 0.1s;
  font-weight: 300;
  @include b(mobile) {
    font-size: 22px;
  }

  &::placeholder {
    color: #424242;
    font-weight: 300;
    font-size: 18px;
    @include b(mobile) {
      font-size: 22px;
    }
  }

  // &:focus {
  //   box-shadow: 0 0 3px 1px #68a8e0;
  // }
}

input[type="search"] {
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-left: 17px;

  &:focus {
    box-shadow: none;
  }
}

input[type="file"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 43px;
  border: 1px solid #f4f4f4;
  background: none;
  font-size: 14px;
  text-transform: uppercase;
  font-family: inherit;
  transition: all 0.2s;

  &::placeholder {
    color: #ffffff;
  }

  &:focus {
    border-color: #282b31;
  }
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  display: block;
  width: 100%;
  height: 300px;
  resize: none;
  padding: 16px 0 14px 18px;
  border: 1px solid #424242;
  background: none;
  font-family: inherit;
  font-weight: 300;
  color: inherit;
  transition: all 0.2s;
  @include b(mobile) {
    font-size: 22px;
    padding: 8px 0 0 18px;
  }

  &::placeholder {
    color: #424242;
    font-weight: 300;
    @include b(mobile) {
      font-size: 22px;
    }
  }

  // &:focus {
  //   box-shadow: 0 0 3px 1px #68a8e0;
  // }
}

input[type=checkbox] {
  display: none;

  &:checked ~ label::after {
    opacity: 1;
  }

  // &:checked ~ label::before {
  //     background-color: #FF3494;
  // }
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;

  &:before {
    content: '';
    display: inline-block;
    background-color: #424242;
    width: 11px;
    height: 11px;
    margin-right: 8px;
    transition: all .1s;
  }

  &::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 5px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
    opacity: 0;
    top: 4px;
    left: 2px;
    transition: all .2s;
    display: block;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.form-control {
  border-radius: 0;
}

.form-text {
  margin: 0;
}

.form-item, .form-actions {
  margin: 0;
}

.bef-datepicker {
  outline: 1px solid #4dbbb8;
  border: none !important;
  width: 200px !important;
  height: 35px !important;
  margin-right: 1px;

  &::placeholder {
    font-size: 15px !important;
    color: #4dbbb8 !important;
  }

  &:focus {
    border: none !important;
  }

  @include b(487) {
    width: 100% !important;
    max-width: 100% !important;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

#edit-reset {
  height: 35px;
  outline: 1px solid #4dbbb8;
  @include b(mobile) {
    max-width: 100%;
    width: 100%;
  }
}

#block-footerinfoblock {
  .focusable {
    position: relative !important;
    top: -67px;
    z-index: 100;
  }

  .contextual-links {
    top: -172px;
  }
}

.form-textarea {
  background-color: transparent;

  &::placeholder {
    color: #424242;
    font-size: 18px;
  }
}

.user-login-form {
  .form-item--error-message {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 17px;
    margin-bottom: 10px;

    &:before {
      content: '';
      display: none;
    }
  }
}


@import "block/preloader.scss";
@import "block/jcf.scss";
@import "block/header.scss";
@import "block/burger.scss";
@import "block/hero.scss";
@import "block/footer.scss";
@import "block/filter.scss";
@import "block/list.scss";
@import "block/dashboard.scss";
@import "block/logo.scss";
@import "block/impressum.scss";
@import "block/event.scss";
@import "block/form.scss";
@import "block/become.scss";
@import "block/personal_account.scss";
@import "block/news.scss";
@import "block/fix-bootstrap.scss";
@import "block/kontaktiere.scss";
@import "block/personal-form.scss";
@import "block/cms-block.scss";










