<div class="burger">
    <div class="burger__wrapp">
        {{> burger-header }}
        <div class="burger__inner">
            <nav class="burger__nav">
                <ul>
                    <li><a href="#"><span>GJIN</span> Home</a></li>
                    <li><a href="#">Partner werden</a> </li>
                    <li><a href="#">Anfrage</a>  </li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </nav>
            <div class="burger__sicial">
                <a href="#"><img src="./assets/images/index/linkedin-logo.svg" alt="linkedin"></a>
                <a href="#"><img src="./assets/images/index/xing-social-logotype.svg" alt="xing"></a>
            </div>
            <div class="burger__link">
                <a href="#">Impressum</a>
                <a href="#">Datenschutz</a>
                <a href="#">AGB</a>
            </div>
            <div class="header__btn-login">
                <a href="#" class="header__checkin">Registrieren</a>
                <a href="#" class="header__logout button button--grin">Einloggen</a>
            </div>
        </div>
    </div>
</div>
