<div class="burger">
    <div class="burger__wrapp">
        <div class="burger__inner">
            <nav class="burger__nav">
                <ul>
                    <li><a href="#"><span>GJIN</span> Home</a></li>
                    <li><a href="#">Partner werden</a> </li>
                    <li><a href="#">Anfrage</a>  </li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </nav>
            <div class="burger__sicial">
                <a href="#"><img src="./assets/images/index/facebook-app-logo.svg" alt="facebook"></a>
                <a href="#"><img src="./assets/images/index/instagram.svg" alt="instagram"></a>
            </div>
            <div class="burger__link">
                <a href="#">Impressum</a>
                <a href="#">Datenschutz</a>
                <a href="#">AGB</a>
            </div>
        </div>
    </div>
</div>
