<div class="filter__card-feedback">
    <div class="filter__card-feedback-descr">
        <p>Bielefeld</p>
        <span>Event/ Gastronomie </span>
    </div>
    <div class="filter__card-feedback-info">
        <time>19.09.2020</time>
        <span>Firmenjubiläum</span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, fugiat.
        <a href="#" class="button">Detailansicht</a>
        <btn class="filter__info-close-btn">
            <span>X</span>
        </btn>
    </div>
</div>