<div class="logo logo--form">
    <div class="logo__wrap">
        <div class="logo__text">
            <span>VORTEILE EINKAUF</span>
            <p>Ihre Anfrage bekommt über GJIN eine enorme Reichweite.
                Mit GJIN erreichen Sie zum einen die GJIN Community per E-Mail aber auch unzählige Unternehmen über
                unsere Webseite, welche haben, was Sie suchen.
                Bei einer Premiumsuche kontaktieren wir potenzielle Lieferanten auch per Telefon. Sämtliche Angebote auf
                Ihre Anfrage laufen über uns.
                Sie erhalten alle Angebote per Mail und können, dass für Sie am besten passenden Angebot auswählen und
                den Anbieter kontaktieren.
            </p>
            <p class="logo__postscr">In diesem ganzen Prozess bleiben Sie komplett anonym und selbstverständlich im
                Kontakt mit uns.</p>
        </div>
        <div class="logo__img">
            <img src="./assets/images/index/logo.png" alt="logo">
        </div>
        <div class="logo__text">
            <span>VORTEILE VERKAUF</span>
            <p>Wenn Sie der GJIN- Community beitreten erhalten Sie bei Anfragen, in denen Produkte und Dienstleistungen
                gesucht werden, welche Sie anbieten, automatisch eine Benachrichtigung.
                So kann auch Ihr Vertrieb von einer Partnerschaft bei GJIN profitieren. </p>
            <p class="logo__postscr">GJIN erschafft neue Geschäftsbeziehungen! GJIN spart im Einkauf! GJIN bringt
                Umsatz! GJIN spart Zeit! </p>
        </div>
    </div>
    <div class="logo__btn">
        <button class="button" data-toggle="collapse" href="#form__partner" role="button">JETZT PARTNER WERDEN</button>
    </div>
</div>