<footer class="footer">
    <div class="footer__wrap">
        <div class="footer__social">
            <a href="#"><img src="./assets/images/index/facebook-app-logo.svg" alt="facebook"></a>
            <a href="#"><img src="./assets/images/index/instagram.svg" alt="instagram"></a>
        </div>
        <nav class="footer__nav">
            <ul>
                <li><a href="#"><span>GJIN</span> Home</a></li>
                <li><a href="#">Partner werden</a> </li>
                <li><a href="#">Anfrage</a>  </li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer__descr">
        <span class="footer__descr-desc">ALL RIGHTS RESERVED 2020 BY Voss & Voss Marketing und Vertriebs GmbH . Impressum . Datenschutz . AGB</span>
        <span class="footer__descr-resp">Impressum . Datenschutz . AGB</span>
    </div>
</footer>