<div class="logo">
    <div class="container">
        <div class="logo__wrap">
            <div class="logo__text">
                <span>WELCOME To A NEW WORLD.</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                <a href="#" class="button">ICH BIN EIN LINK</a>
            </div>
            <div class="logo__img">
                <img src="./assets/images/index/logo.png" alt="logo">
            </div>
            <div class="logo__text">
                <span>WELCOME To A NEW WORLD.</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                <a href="#" class="button">ICH BIN EIN LINK</a>
            </div>
        </div>
    </div>
</div>