<footer class="footer">
    <div class="footer__wrap">
        <div class="footer__social">
            <a href="#"><img src="./assets/images/index/linkedin-logo.svg" alt="linkedin"></a>
            <a href="#"><img src="./assets/images/index/xing-social-logotype.svg" alt="instagram"></a>
        </div>
        <nav class="footer__nav">
            <ul>
                <li><a href="#"><span>GJIN</span> Home</a></li>
                <li><a href="#">Partner werden</a> </li>
                <li><a href="#">Anfrage</a>  </li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer__descr">
        <p class="footer__descr-desc">
            <span>ALL RIGHTS RESERVED 2020 BY Voss & Voss Marketing und Vertriebs GmbH .</span> 
            <a href="#">Impressum</a> . 
            <a href="#">Datenschutz</a> .
             <a href="#">AGB</a>
        </p>
    </div>
</footer>