<section class="input-group__header input-group__header--otherPB">
    <div class="container">
        <div class="input-group__header-wrap">
            <span class="input-group__title">GJIN – Anmelden </span>
            <span class="input-group__descr">Suchen Sie Zunächst Ihr Konto</span>
            <span class="input-group__postscr">Geben Sie Ihre E-Mail-Adresse oder tren Nutzername.</span>
        </div>
    </div>
</section>
<section class="input-group input-group--text">
    <div class="container">
        <form accept="" class="input-group__wrap">
            <div class="input-group__single-input">
                <label class="input-group__hints input-group__hints--otherProp">E-Mail-Addresse oder Nutzername </label>
                <input type="email" placeholder="E-mail / Nutzername">
            </div>
            <div class="input-group__btn">
                <button type="submit" class="button button--otherProp">Weiter</button>
            </div>
        </form>
    </div>
</section>