<div class="form form--text">
    <div class="form__header">
        <div class="form__header-wrap">
            <span class="form__title">GJIN – Anmelden </span>
            <span class="form__descr">Suchen Sie Zunächst Ihr Konto</span>
            <span class="form__postscr">Geben Sie Ihre E-Mail-Adresse oder tren Nutzername.</span>
        </div>
    </div>
    <form accept="" class="form__wrap">
        <div class="form__single-input">
            <label class="form__hints">E-Mail-Addresse oder Nutzername </label>
            <input type="email" placeholder="E-mail / Nutzername">
        </div>
       <div class="form__btn">
           <button type="submit" class="button">Weiter</button>
       </div>
    </form>
</div>