<div class="form form--text">
    <div class="form__header">
        <div class="form__header-wrap">
            <span class="form__title">GJIN – Einloggen </span>
            <span class="form__descr">Einloggen</span>
            <span class="form__postscr">Bitte geben Sie Ihre E-Mail-Adresse und Ihr Passwort ein, um sich in Ihrem Konto anzumelden</span>
        </div>
    </div>
    <form accept="" class="form__wrap">
        <div class="form__single-input">
            <label class="form__hints">E-Mail-Addresse </label>
            <input type="email" placeholder="info@gmail.com">
        </div>
        <div class="form__single-input">
            <label class="form__hints">Passwort </label>
            <input type="password">
        </div>
        <div class="form__checkbox">
            <div class="form__clarification">
                <input type="checkbox" id="consent">
                <label for="consent" class="checkbox">
                    Ich stimme den Datenschutzbestimmungen zu \ WEITERE INFORMATIONEN 
                </label>
            </div>
        </div>
       <div class="form__btn">
           <button type="submit" class="button">Einloggen</button>
       </div>
    </form>
</div>