<div class="form-group form-group--text">
    <div class="form-group__header">
        <div class="form-group__header-wrap">
            <span class="form-group__title">GJIN – Einloggen </span>
            <span class="form-group__descr">Einloggen</span>
            <span class="form-group__postscr">Bitte geben Sie Ihre E-Mail-Adresse und Ihr Passwort ein, um sich in Ihrem Konto anzumelden</span>
        </div>
    </div>
    <form accept="" class="form-group__wrap">
        <div class="form-group__single-input">
            <label class="form-group__hints">E-Mail-Addresse </label>
            <input type="email" placeholder="info@gmail.com">
        </div>
        <div class="form-group__single-input">
            <label class="form-group__hints">Passwort </label>
            <input type="password">
        </div>
        <div class="form-group__checkbox">
            <div class="form-group__clarification">
                <input type="checkbox" id="consent">
                <label for="consent" class="checkbox">
                    Ich stimme den Datenschutzbestimmungen zu \ WEITERE INform-groupATIONEN 
                </label>
            </div>
        </div>
       <div class="form-group__btn">
           <button type="submit" class="button">Einloggen</button>
       </div>
    </form>
</div>