<div class="input-group__header input-group__header--otherPB">
    <div class="input-group__header-wrap">
        <h1 class="input-group__title">GJIN – Einloggen </h1>
        <span class="input-group__descr">Einloggen</span>
        <span class="input-group__postscr">Bitte geben Sie Ihre E-Mail-Adresse und Ihr Passwort ein, um sich in Ihrem Konto anzumelden</span>
    </div>
</div>
<div class="input-group input-group--text">
    <form accept="" class="input-group__wrap">
        <div class="input-group__single-input">
            <label class="input-group__hints input-group__hints--otherProp">E-Mail-Addresse </label>
            <input type="email" placeholder="info@gmail.com">
        </div>
        <div class="input-group__single-input">
            <label class="input-group__hints input-group__hints--otherProp">Passwort </label>
            <input type="password">
        </div>
        <div class="input-group__checkbox">
            <div class="input-group__clarification">
                <input type="checkbox" id="consent">
                <label for="consent" class="checkbox">
                    Ich stimme den Datenschutzbestimmungen zu \ WEITERE INinput-groupATIONEN 
                </label>
            </div>
        </div>
        <div class="input-group__btn">
            <button type="submit" class="button button--otherProp">Einloggen</button>
        </div>
    </form>
</div>