<div class="form-group collapse" id="collapseExample">
    <form accept="" class="form-group__wrap">
        <input type="text" placeholder="Betreff">
        <div class="form-group__inputs">
            <div class="form-group__left">
                <input type="text" placeholder="Firma">
                <select name="" id="">
                    <option value="">Anrede1</option>
                    <option value="">Anrede2</option>
                    <option value="">Anrede3</option>
                    <option value="">Anrede4</option>
                    <option value="">Anrede5</option>
                    <option value="">Anrede6</option>
                </select>
                <input type="text" placeholder="Vorname">
                <input type="text" placeholder="Telefonnummer">
                <input type="text" placeholder="Straße">
            </div>
            <div class="form-group__right">
                <input type="text" placeholder="Position im Unternehmen">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="E-Mail Adresse">
                <input type="text" placeholder="Stadt">
                <input type="text" placeholder="PLZ & Ort">
            </div>
        </div>
        <div class="form-group__textarea">
            <textarea placeholder="Nachricht"></textarea>
        </div>
        <div class="form-group__checkbox">
            <input type="checkbox" id="consent">
            <label for="consent" class="checkbox">
                Ich stimme den Datenschutzbestimmungen zu \ WEITERE INform-groupATIONEN 
            </label>
        </div>
        <button type="submit" class="button">ABSENDEN</button>
    </form>
</div>