<div class="form-group form-group--text" >
    <div class="form-group__header">
        <div class="form-group__header-wrap">
            <span class="form-group__title">GJIN – ANFRAGE ERSTELLEN </span>
            <span class="form-group__descr">Wir können es kaum erwarten Ihre Anfrage zu prüfen und online zu stellen.</span>
            <span class="form-group__postscr">Erstellen Sie jetzt ihre Anfrage mit unserem einfachen GJIN Anfrageform-groupular.</span>
        </div>
    </div>
    <form accept="" class="form-group__wrap">
        <div class="form-group__single-input">
            <label class="form-group__hints">Geben Sie den Titel Ihrer Anfrage ein </label>
            <input type="text" placeholder="Betreff">
        </div>
        <div class="form-group__inputs">
            <label class="form-group__hints">
                Überprüfen und ergänzen Sie Ihre Kontaktdaten und Kundennummer 
            </label>
            <div class="form-group__left">
                <input type="text" placeholder="Firma">
                <select>
                    <option value="">Anrede1</option>
                    <option value="">Anrede2</option>
                    <option value="">Anrede3</option>
                    <option value="">Anrede4</option>
                    <option value="">Anrede5</option>
                    <option value="">Anrede6</option>
                </select>
                <input type="text" placeholder="Vorname">
                <input type="text" placeholder="Telefonnummer">
                <input type="text" placeholder="Straße">
            </div>
            <div class="form-group__right">
                <input type="text" placeholder="Position im Unternehmen">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="E-Mail Adresse">
                <input type="text" placeholder="Stadt">
                <input type="text" placeholder="PLZ & Ort">
            </div>
        </div>
        <div class="form-group__textarea">
            <label class="form-group__hints">Geben Sie Die Details zu Ihrer Anfrage ein</label>
            <textarea placeholder="Nachricht"></textarea>
        </div>
        <div class="form-group__checkbox">
            <div class="form-group__clarification">
                <span class="form-group__hints">Machen Sie sich keine Sorgen wegen der Kontaktdaten. Ihre ANfrage wird an unser Team übermittelt und nach Prüfung anonym online gestellt. Sie erhalten nach Prüfung Ihrer Anfrage eine E-Mail zur Freigabe.</span>
                <input type="checkbox" id="consent">
                <label for="consent" class="checkbox">
                    Ich stimme den Datenschutzbestimmungen zu \ WEITERE INform-groupATIONEN 
                </label>
            </div>
        </div>
       <div class="form-group__btn">
           <button type="submit" class="button">ABSENDEN</button>
       </div>
    </form>
</div>