
<div class="input-group input-group--account">
    <div class="container">
        <form accept="" class="input-group__wrap">
            <div class="input-group__inputs">
                <label class="input-group__hints">
                    mein account
                </label>
                <div class="input-group__right">
                    <input type="text" placeholder="Benutzername">
                    <input type="text" placeholder="Bild">
                    <input type="text" placeholder="Aktuelles Passwort">
                    <input type="text" placeholder="E-Mail Adresse">
                </div>
            </div>
            <div class="input-group__inputs">
                <label class="input-group__hints">
                    hauptkontaktperson
                </label>
                <div class="input-group__right">
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="E-Mail Adresse(Person)">
                    <input type="text" placeholder="Position">
                </div>
            </div>
            <div class="input-group__inputs">
                <label class="input-group__hints">
                    firmendeails
                </label>
                <div class="input-group__right">
                    <input type="text" placeholder="Firmename">
                    <input type="text" placeholder="Straße">
                    <input type="text" placeholder="PLZ & Ort">
                    <input type="text" placeholder="Region">
                </div>
            </div>
            <div class="input-group__checkbox">
                <div class="input-group__clarification">
                    <input type="checkbox" id="consent">
                    <label for="consent" class="checkbox">
                        Ich stimme den Datenschutzbestimmungen zu \ WEITERE INinput-groupATIONEN
                    </label>
                </div>
            </div>
            <div class="input-group__btn">
                <button type="submit" class="button">ABSENDEN</button>
            </div>
        </form>
    </div>
</div>