<div class="simplenews-subscriptions-block-job-offer simplenews-subscriber-form block block-simplenews block-simplenews-subscription-block "
    data-drupal-selector="simplenews-subscriptions-block-job-offer" id="block-simplenewssubscription">

    <h2>Job offers subscription</h2>

    <form action="/user/54/edit" method="post" id="simplenews-subscriptions-block-job-offer" accept-charset="UTF-8"
        class="input-group input-group--text"
        data-drupal-form-fields="edit-field-first-name-0-value,edit-field-last-name-0-value,edit-field-my-location,edit-field-my-kategorie-23,edit-field-my-kategorie-24,edit-field-my-kategorie-25,edit-field-my-kategorie-26,edit-field-my-kategorie-27,edit-field-my-kategorie-28,edit-field-my-kategorie-29,edit-field-my-kategorie-30,edit-field-my-kategorie-31,edit-field-my-kategorie-32,edit-field-my-kategorie-33,edit-field-my-kategorie-34,edit-field-my-kategorie-35,edit-field-my-kategorie-36,edit-field-my-kategorie-37,edit-field-my-kategorie-38,edit-field-my-kategorie-39,edit-field-my-kategorie-40,edit-field-my-kategorie-41,edit-field-my-kategorie-42,edit-field-my-kategorie-43,edit-field-my-kategorie-44,edit-field-my-kategorie-45,edit-submit--2">

        <div id="edit-message"
            class="js-form-item form-item js-form-type-item form-type-item js-form-item-message form-item-message form-no-label">
            Stay informed - subscribe to our newsletter.
        </div>

        <input autocomplete="off" data-drupal-selector="form-k6l2r8xc0-knhd4zw47sxogrgpva1uttg0ufi5r1-hy" type="hidden"
            name="form_build_id" value="form-K6l2r8Xc0-knHd4ZW47Sxogrgpva1uttG0UFI5R1_hY" class="form-control">


        <input data-drupal-selector="edit-simplenews-subscriptions-block-job-offer-form-token" type="hidden"
            name="form_token" value="aQ8el5FPZVgvwMq4IdNOgluasyJbgB2H2ncNDcnAHHw" class="form-control">


        <input data-drupal-selector="edit-simplenews-subscriptions-block-job-offer" type="hidden" name="form_id"
            value="simplenews_subscriptions_block_job-offer" class="form-control">

        <div
            class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-field-first-name-0-value form-item-field-first-name-0-value">
            <label for="edit-field-first-name-0-value" class="input-group__hints input-group__hints--otherProp">First
                name</label>

            <input class="js-text-full text-full form-text form-control"
                data-drupal-selector="edit-field-first-name-0-value" type="text" id="edit-field-first-name-0-value"
                name="field_first_name[0][value]" value="uspmsm@gmail.com" size="60" maxlength="50" placeholder="">


        </div>


        <div
            class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-field-last-name-0-value form-item-field-last-name-0-value">
            <label for="edit-field-last-name-0-value" class="input-group__hints input-group__hints--otherProp">Last
                name</label>

            <input class="js-text-full text-full form-text form-control"
                data-drupal-selector="edit-field-last-name-0-value" type="text" id="edit-field-last-name-0-value"
                name="field_last_name[0][value]" value="Max" size="60" maxlength="50" placeholder="">


        </div>


        <div
            class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-my-location form-item-field-my-location">
            <label for="edit-field-my-location" class="input-group__hints">My location</label>
            <select data-drupal-selector="edit-field-my-location" id="edit-field-my-location" name="field_my_location"
                class="form-select form-control jcf-hidden">
                <option value="_none">- Nicht festgelegt/ausgewählt -</option>
                <option value="6">Baden-Württemberg</option>
                <option value="7">Bayern</option>
                <option value="1">-München</option>
                <option value="8">Berlin</option>
                <option value="22">-Berlin</option>
                <option value="9">Brandenburg</option>
                <option value="10">Bremen</option>
                <option value="11">Hamburg</option>
                <option value="4">-Hamburg</option>
                <option value="12">Hessen</option>
                <option value="13">Mecklenburg-Vorpommern</option>
                <option value="14">Niedersachsen</option>
                <option value="15">Nordrhein-Westfalen</option>
                <option value="2">-Köln</option>
                <option value="16">Rheinland-Pfalz</option>
                <option value="17">Saarland</option>
                <option value="18">Sachsen</option>
                <option value="3">-Dresden</option>
                <option value="19">Sachsen-Anhalt</option>
                <option value="20">Schleswig-Holstein</option>
                <option value="21">Thüringen</option>
            </select>
        </div>

        <div data-drupal-selector="edit-field-my-kategorie" id="edit-field-my-kategorie--wrapper"
            class="fieldgroup form-composite js-form-item js-form-wrapper form-wrapper">
            <label class="input-group__hints">
                My Kategorie
            </label>
            <div id="edit-field-my-kategorie" class="form-checkboxes">
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-23 form-item-field-my-kategorie-23 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-23" type="checkbox"
                            id="edit-field-my-kategorie-23" name="field_my_kategorie[23]" value="23" checked="checked"
                            class="form-checkbox form-control" disabled>


                        <label for="edit-field-my-kategorie-23" class="option checkbox">Agrarwirtschaft</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-24 form-item-field-my-kategorie-24 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-24" type="checkbox"
                            id="edit-field-my-kategorie-24" name="field_my_kategorie[24]" value="24" checked="checked"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-24" class="option checkbox">Bau</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-25 form-item-field-my-kategorie-25 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-25" type="checkbox"
                            id="edit-field-my-kategorie-25" name="field_my_kategorie[25]" value="25" checked="checked"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-25" class="option checkbox">Chemie &amp; Rohstoffe</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-26 form-item-field-my-kategorie-26 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-26" type="checkbox"
                            id="edit-field-my-kategorie-26" name="field_my_kategorie[26]" value="26"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-26" class="option checkbox">Dienstleistungen &amp;
                            Handwerk</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-27 form-item-field-my-kategorie-27 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-27" type="checkbox"
                            id="edit-field-my-kategorie-27" name="field_my_kategorie[27]" value="27"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-27" class="option checkbox">E-Commerce</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-28 form-item-field-my-kategorie-28 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-28" type="checkbox"
                            id="edit-field-my-kategorie-28" name="field_my_kategorie[28]" value="28"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-28" class="option checkbox">Energie &amp; Umwelt</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-29 form-item-field-my-kategorie-29 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-29" type="checkbox"
                            id="edit-field-my-kategorie-29" name="field_my_kategorie[29]" value="29"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-29" class="option checkbox">Finanzen, Versicherungen &amp;
                            Immobilien</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-30 form-item-field-my-kategorie-30 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-30" type="checkbox"
                            id="edit-field-my-kategorie-30" name="field_my_kategorie[30]" value="30"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-30" class="option checkbox">Freizeit</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-31 form-item-field-my-kategorie-31 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-31" type="checkbox"
                            id="edit-field-my-kategorie-31" name="field_my_kategorie[31]" value="31"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-31" class="option checkbox">Gesellschaft</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-32 form-item-field-my-kategorie-32 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-32" type="checkbox"
                            id="edit-field-my-kategorie-32" name="field_my_kategorie[32]" value="32"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-32" class="option checkbox">Handel</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-33 form-item-field-my-kategorie-33 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-33" type="checkbox"
                            id="edit-field-my-kategorie-33" name="field_my_kategorie[33]" value="33"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-33" class="option checkbox">Internationale
                            Länderdaten</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-34 form-item-field-my-kategorie-34 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-34" type="checkbox"
                            id="edit-field-my-kategorie-34" name="field_my_kategorie[34]" value="34"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-34" class="option checkbox">Internet</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-35 form-item-field-my-kategorie-35 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-35" type="checkbox"
                            id="edit-field-my-kategorie-35" name="field_my_kategorie[35]" value="35"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-35" class="option checkbox">Konsum &amp; FMCG</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-36 form-item-field-my-kategorie-36 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-36" type="checkbox"
                            id="edit-field-my-kategorie-36" name="field_my_kategorie[36]" value="36"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-36" class="option checkbox">Medien</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-37 form-item-field-my-kategorie-37 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-37" type="checkbox"
                            id="edit-field-my-kategorie-37" name="field_my_kategorie[37]" value="37"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-37" class="option checkbox">Metall &amp; Elektronik</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-38 form-item-field-my-kategorie-38 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-38" type="checkbox"
                            id="edit-field-my-kategorie-38" name="field_my_kategorie[38]" value="38"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-38" class="option checkbox">Pharma &amp; Gesundheit</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-39 form-item-field-my-kategorie-39 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-39" type="checkbox"
                            id="edit-field-my-kategorie-39" name="field_my_kategorie[39]" value="39"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-39" class="option checkbox">Sport &amp; Fitness</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-40 form-item-field-my-kategorie-40 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-40" type="checkbox"
                            id="edit-field-my-kategorie-40" name="field_my_kategorie[40]" value="40"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-40" class="option checkbox">Statista für Schulen</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-41 form-item-field-my-kategorie-41 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-41" type="checkbox"
                            id="edit-field-my-kategorie-41" name="field_my_kategorie[41]" value="41"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-41" class="option checkbox">Technik &amp;
                            Telekommunikation</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-42 form-item-field-my-kategorie-42 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-42" type="checkbox"
                            id="edit-field-my-kategorie-42" name="field_my_kategorie[42]" value="42"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-42" class="option checkbox">Tourismus &amp;
                            Gastronomie</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-43 form-item-field-my-kategorie-43 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-43" type="checkbox"
                            id="edit-field-my-kategorie-43" name="field_my_kategorie[43]" value="43"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-43" class="option checkbox">Verkehr &amp; Logistik</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-44 form-item-field-my-kategorie-44 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-44" type="checkbox"
                            id="edit-field-my-kategorie-44" name="field_my_kategorie[44]" value="44"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-44" class="option checkbox">Werbung &amp; Marketing</label>
                    </div>
                </div>
                <div
                    class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-my-kategorie-45 form-item-field-my-kategorie-45 input-group__checkbox">
                    <div class="input-group__clarification">

                        <input data-drupal-selector="edit-field-my-kategorie-45" type="checkbox"
                            id="edit-field-my-kategorie-45" name="field_my_kategorie[45]" value="45"
                            class="form-checkbox form-control">


                        <label for="edit-field-my-kategorie-45" class="option checkbox">Wirtschaft &amp; Politik</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="input-group__btn">
            <input data-drupal-selector="edit-submit" type="submit" id="edit-submit--2" name="op" value="Subscribe"
                class="button button--primary js-form-submit form-submit button--otherProp">

        </div>
        <a href="/user/54/simplenews" data-drupal-selector="edit-manage" id="edit-manage">Manage existing</a>

    </form>

</div>